## HTTP
"{{ item }}:80":
    listen:
        port: 80
    paths:
        "/":
            redirect: http://www.{{ item }}/

"www.{{ item }}:80":
    listen: 80
    paths:
        "/":
            file.dir: /var/www/html
#            redirect:
#                url: /index.php/
#                internal: YES
#                status: 307


## HTTPS
# "{{ item }}:443"
#     listen:
#         port: 443
#         ssl:
#             <<: *default_ssl
#             key-file: /etc/letsencrypt/live/{{ item }}/privkey.pem
#             certificate-file: /etc/letsencrypt/live/{{ item }}/fullchain.pem
#     paths:
#         "/":
#             redirect: https://www.{{ item }}/
#
#
# "www.{{ item }}:443"
#     listen:
#         port: 443
#         ssl:
#             <<: *default_ssl
#             key-file: /etc/letsencrypt/live/{{ item }}/privkey.pem
#             certificate-file: /etc/letsencrypt/live/{{ item }}/fullchain.pem
#     paths:
#         "/":
#             file.dir: /var/www/html
#             redirect:
#                 url: /index.php/
#                 internal: YES
#                 status: 307
#

